<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.educationtimeline %}
      <div class="timeline-item">
        <div class="content" style="display: flex; align-items: center;">
          <img src="/assets/education/Digipen.jpg" alt="Digipen Logo" style="margin-right: 10px;">
          <div>
            <h2>{{ item.school }}</h2>
            <h5 class="date">{{ item.from }} — {{ item.to }}</h5><br>
            <h5>{{ item.degree }}</h5><br>
            <h5>{{ item.detail_degree }}</h5><br>
            <h5>GPA: {{ item.gpa }}/4.0</h5><br>
            <h5>Courses:</h5>
            <ul>
              {% for course_data in item.course_info %}
                <h6><li> {{course_data.course}} </li></h6>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>